.mynavbar li{
    margin-right: 10px;
    font-size: 24px;
}
.navbar a{
    color:#ffffff;
}
.navbar .nav > li > a{
    color: #ffffff;
}
.navbar .nav > li > a:hover {
    color: #000;
    background-color: #ffffff;
}
.navbar .nav >li >a:active{
    color: #000;
    background-color: #282828;
}
.navbar .nav >li >a:visited{
    color: #ffffff;
}


.navbar-nav>.active>a:hover{
    color:#000;
    background-color:#282828
}

.navbar-right{
    margin-right: 5px;
}
.mynavbar>li >a:hover {
    color: #000;
    background-color: #ffffff;
}
.navbar-brand img{
    height: 100%;
}
/*nav*/
.bgImg {
    width: 100%;
    height: 100%;
   /* background:url("../img/MyImg.jpg") no-repeat;*/
    -webkit-background-size:cover;
    background-size:cover;
}

.left {

    height: 638px;
}

.right {
    height: 638px;
    background: #000;
}
.logoTest{
    width: 300px;
    height: 300px;
    position: absolute;
    top:30%;
}
/*about*/
#about,#skills,#portfolio,#map{
    padding-top: 60px;
}

.about ,.skills,.portfolio,.map{
    border-top: 1px solid;
}
.about h3, .skills h3, .portfolio h3 ,.map h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:2px;
}
.about-left p {
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 16px 0;
}
.about-left {
    padding: 0 0 0 90px;
}
.about-left h3 {
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    outline-offset: 12px;
    outline: 7px double #ff4f81;

    width: 22%;
    color: #146eb4;
    margin-left: 5px;
    font-weight: 700;
    text-align: center;
}
.about-left img {
    width: 25%;
}
.about-right {
    width: 50%;
    margin: 0 auto;
}
.about-right img{
    width: 100%;
}
.aboutMe li{
    margin-bottom: 50px;
}
/*skill*/
.skill-agile {
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
    margin-top: 16px;
}
.skill-left {
    padding: 0;
}
.skill-img{
    padding: 10px;
}
.skill-img img .img-responsive {
    width: 100%;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    transition:.5s all;
    margin-top: 20px;
}
.skill-agile .agile-caption {
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left:-100%;
    top:0;
    width: 100%;
    height: 100%;
    padding: 24% 10%;
    text-align: center;
    opacity: 0.6;
}
.skill-agile .agile-caption h3,.skill-agile .agile-caption p {
    position: relative;
    left:-380px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.skill-agile .agile-caption h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto 8px;
    font-weight: 300;
    color: #fff;
}
.skill-agile .agile-caption p {
    line-height: 32px;
    color: #d5d3d3;
    font-weight: 300;
}
.skill-agile .agile-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}

.skill-agile .agile-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
}
.skill-agile:hover .agile-caption {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    left:0;
}

.skill-agile:hover img{
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.skill-agile:hover .agile-caption h3,.skill-agile:hover .agile-caption p {
    -moz-transform: translateX(380px);
    -o-transform: translateX(380px);
    -webkit-transform: translateX(380px);
    transform: translateX(380px);
}
/*portfolio*/
/*tabs*/
.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    list-style: none;
    -ms-box-orient: horizontal;        /* 水平排列 div 元素的子元素：*/
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;   /*让弹性盒的元素以相反的顺序显示*/
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;          /*  在弹性盒对象的 <div> 元素中的各项周围留有空白：*/
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 3;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 12px;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
    text-decoration: none;
}

.portfolio h4 {
    margin: 30px 0;
    font-size: 25px;
    font-weight: 600;
}
/*profolio img*/
.link-top {

    padding: 0;
}

.link-work figure {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.link-work figure.project-img:hover {
    background-color: #000;
}

.link-work figure img {
    position: relative;
    display: block;
    width: 100%;
    border: 3px solid #fff;
}

.link-bottom {
    margin: 30px 0;
}

.link-work figure figcaption {
    padding: 32px;
    color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.link-work figure figcaption::before, .link-work figure figcaption::after {
    pointer-events: none;
}

.link-work figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.project-img:hover img {
    opacity: 0.3;
}

figure.project-img figcaption::before, figure.project-img figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
    -ms-transition: opacity 0.35s, -ms-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.project-img figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -o-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

figure.project-img figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -o-transform: scale(1,0);
    -ms-transform: scale(1,0);
    transform: scale(1,0);
}

figure.project-img h4 {
    padding-top: 11%;
    -webkit-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -o-transition: -o-transform 0.35s;
    -ms-transition: -ms-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    -moz-transform: translate3d(0,-20px,0);
    -o-transform: translate3d(0,-20px,0);
    -ms-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
    opacity:0;
}

.link-top figure.project-img h4{
    padding-top: 16%;
}

figure.project-img:hover figcaption::before, figure.project-img:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);       /* scale() 方法标注画布的用户坐标系统。*/
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.project-img:hover h4 {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*map*/
/*
.map-table{

}*/
.map-right {
    margin-top: 32px;
}
.map-right-title{

}

span.glyphicon {
    color: #FFF;
    background: #11b563;
    border: 1px solid #11b563;
    padding: 18px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    font-size: 18px;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    transition:.5s all;
    -o-transition: all .5s ;
    -ms-transition: all .5s all;
}
span.glyphicon:hover {
    background: #fff;
    color: #11b563;
    border: 1px solid #11b563;
}
.map-right-title {
    margin-bottom: 48px;
}
.map-right-title:nth-child(4), .map-right-title:nth-child(5) {
    margin-bottom: 0;
}
.map-right-title h4 {
    color: #484848;
    font-size: 22px;
    text-transform: capitalize;
    margin: 15px 0;
}
.map-right-title p {
    color: #4c4c4c;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 28px;
}
.map-right-title a {
    color: #313131;
    text-decoration:none;
}
.map-right-title a:hover{
    color: #ff4f81;
}
ul{
    list-style: none;
}
/*first*/
.firstBg{
    width: 100%;
    height: 60%;
}
.firstBg img{
    margin-top: -22%;
    width: 100%;
    opacity: 0.6;
}
.first{
    width: 578px;
    height:64px;
    z-index: 100;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -72px;
    margin-left: -289px;
    overflow: hidden;
}
/*pie*/
.pie-wrap{
    width: 140px;
    height: 160px;
    margin-top: 15%;
    margin-bottom: 40%;
   /* position:relative;*/
   /* float: left;*/
}
.pie-wrap p{
    position: absolute;
    top: 160px;
    width:140px;
    text-align: center;
    font-size: 20px;
}


